@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

:root{
    --DarkGray: hsl(0, 0%, 63%);
    --VeryDarkGray: hsl(0, 0%, 27%);
}
html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Spartan', sans-serif;
    position: relative;
}

/* utilities */

ul{
    list-style: none;
    display: flex;
    margin-left: 1rem;
}
a{
    text-decoration: none;
    color: white;
}
li{
    padding: 0 .8rem;
}
@keyframes hover-arrow{
    0% {transform: translateX(0);}
    50% {transform: translateX(8px);}
    100% {transform: translateX(0);}
}

/* utilities */

/* slider container */

.slider-container{
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.slider-container .left {
    width: 60%;
    height: 85vh;
    position: relative;
    z-index: 99;
    overflow: hidden;
    
}

.slider-container .left .nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
    padding: 2.5rem 4rem;
    width: 100%;
    
}

.desktop ul li a{
    position: relative;
    text-transform: lowercase;
    font-weight: 600;
}
.slider-container .left .nav .logo img{
    margin-right: 2.5rem;
}
.images {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    left: 0;
    transition: 600ms ease-in-out;
}
.images div:nth-child(1){
    background-image: url(images/desktop-image-hero-1.jpg);
    
}
.images div:nth-child(2){
    background-image: url(images/desktop-image-hero-2.jpg);
    right: 100%;
}
.images div:nth-child(3){
    background-image: url(images/desktop-image-hero-3.jpg);
    right: 200%;
}

.images > div {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -99;
}

/* mobile nav */
.hamburguer{
    padding: 14px 18px ;
    background-image: url(images/icon-hamburger.svg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    transition: 600ms ease-in-out;
}
#mobile-drop{
    display: none;
}
.mobile{
    display: none;
}
.mobile-nav{
    position: absolute;
    padding: 2rem 0;
    background-color: white;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    transform: translateY(-95px);
    transition: 600ms ease-in-out;
}

.mobile-nav ul li a{
    color: black;
    font-weight: 600;
    text-transform: lowercase;
    position: relative;
    transition: 300ms ease-in-out;
}
.mobile-nav ul li a::after,.desktop ul li a::after{
    content: '';
    height: 2px;
    width: 0;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -5px;
    transition: 300ms ease-in-out;
}
.mobile-nav ul li a:hover::after,.desktop ul li a:hover::after{
    width: 80%;
}
.desktop ul li a:hover::after{
    background-color: white;
}
.mobile-nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#mobile-drop:checked + label .hamburguer {
    background-image: url(images/icon-close.svg);
    transform: translateY(-6px);
}
#mobile-drop:checked ~  .mobile-nav{
    transform: translateY(0);
}
#mobile-drop:checked ~ .modal{
    display: block; /* Hidden by default */

}
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 83px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    transition: 600ms ease-in-out;
}

/* right container */
.slider-container .right {
    position: relative;
    width: 40%;
    height: 85vh;
    z-index: 51;
    display: grid;
    place-items: center;
    padding: 2rem 4rem;
    
}
.text-content h1{
    font-size: 2.2rem;
    font-weight: 700;
}
.text-content p, .center-content .container-center p{
    padding: .8rem 0;
    font-size: .8rem;
    line-height: 1.4rem;
    color: var(--DarkGray);
}
.btns{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    
}
.left-btn,.right-btn{
    background-color: black;
    border: none;
    padding: 1.3rem 2rem;
    transition: 600ms ease-in-out;
}
.left-btn:hover,.right-btn:hover{
    background-color: var(--DarkGray);
}
.shop{
    color: black;
    letter-spacing: .7rem;
    text-transform: uppercase;
}
.shop i svg{
    animation: hover-arrow 1s infinite;
}
.shop:focus i svg{
    animation: hover-arrow 3s infinite;
    outline: none;
    border: none;
}

/* slider container */

/* details */

.details{
    display: grid;
    grid-template-columns: 28% 44% 28%;
    min-height: 35vh;
    position: relative;
}
.center-content{
    height: 100%;
    padding: 70px 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.center-content .container-center h2{
    font-weight: 700;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-size: 1rem;
    
}
.left-image figure ,.right-image figure {
    width: 100%;
    height: 100%;
}
.left-image figure {
    background-image: url(images/image-about-dark.jpg);
    background-position: center;
    background-size: cover;
}
.right-image figure {
    background-image: url(images/image-about-light.jpg);
    background-position: center;
    background-size: cover;
}


#paragraph{
    height: 183px;
}

/* details */

/* media */

@media (max-width:879px){
    /* header hero */
    .fd-c{
        flex-direction: column;
    }
    .w-100{
        width: 100%;
    }
    .slider-container .left,.slider-container .right {
        width: 100%;
    }

    .desktop{
        display: none;
    }
    .mobile{
        display: flex;
    }
    .trick{
        visibility: hidden;
    }
    .slider-container .left .nav{
        justify-content: space-between;
        
    }
    .btns{
        position: absolute;
        left: auto;
        right: 0;
        bottom: 100%;
    }
    .details{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        min-height: 55vh;
        position: relative;
    }
    .left-image figure ,.right-image figure {
        height: 65vh;
    }
    .shop i svg{
        animation: hover-arrow 1s infinite;
    }
    #mobile-drop:checked + label .hamburguer {
        position: fixed;
        transform: translateY(-17px);
    }
    #mobile-drop:checked ~  .mobile-nav{
        position: fixed;
    }
    /* header hero */
}

/* media */
